.git
.github
**/.env
**/.env.*
!**/.env.example
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/*.pyc
**/*.log
backend/tests
backend/build
backend/dist
**/*.egg-info
backend.zip
backend/src/app/data/initial_roster.json
